

<ng-template #form let-item="item">

  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle=" اطلاعات واحد">
      <ng-container *ngTemplateOutlet="mainTemplate?.defaultIdStatusForm;context:{item:item}"></ng-container>
      <form [nzLayout]="'horizontal'" nz-form [formGroup]="item">

        <div nz-row>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> شماره واحد </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="شماره واحد را وارد نمایید." nz-input formControlName="ShomareVahed" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعیت فروش </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <nz-select nzMode="default"
                           placeholder="وضعیت فروش را وارد نمایید." formControlName="VaziateForoosh" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.VaziateForoosh" [nzValue]="i.Value" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> شهر </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>

                <nz-select nzMode="default"
                           placeholder="شهر را وارد نمایید."
                           formControlName="CityId" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.cities" [nzValue]="i.Id" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> كد كاداستر پلاك زمين </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="كد كاداستر پلاك زمين را وارد نمایید." nz-input formControlName="Code" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعیت سند </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <nz-select nzMode="default"
                           placeholder="وضعیت سند را وارد نمایید."
                           formControlName="VaziateSanad" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.VaziateSanad" [nzValue]="i.Value" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> نام بهره بردار </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="نام بهره بردار را وارد نمایید." nz-input formControlName="NameBahreBardar" />


              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> نام خانوادگی بهره بردار </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="نام خانوادگی بهره بردار را وارد نمایید." nz-input formControlName="FamilyBahreBardar" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> سمت بهره بردار </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="سمت بهره بردار را وارد نمایید." nz-input formControlName="SematBahreBardar" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> دستگاه معرفي كننده </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <nz-select nzMode="default"
                           placeholder="دستگاه معرفي كننده را وارد نمایید."
                           formControlName="DastgaheMoarrefiKonnande" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.organizations" [nzValue]="i.Id" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعيت قرارداد-شماره </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="وضعيت قرارداد-شماره را وارد نمایید." nz-input formControlName="GharardadShomare" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعيت قرارداد-تاریخ </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <persian-date-time-picker formControlName="GharardadTarikh" placeholder="وضعيت قرارداد-تاریخ را وارد نمایید."></persian-date-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعيت قرارداد-مدت </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="وضعيت قرارداد-مدت را وارد نمایید." nz-input formControlName="GharardadModdat" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعيت قرارداداجاره ماهانه </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="وضعيت قرارداداجاره ماهانه را وارد نمایید." nz-input formControlName="GharardadEjare" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> اجاره پرداختی سال98 </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="number" placeholder="اجاره پرداختی سال98 را وارد نمایید." nz-input formControlName="Ejare98" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> اجاره پرداختی سال99 </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="number" placeholder="اجاره پرداختی سال99 را وارد نمایید." nz-input formControlName="Ejare99" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> مبلغ نمايندگي </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="number" placeholder="مبلغ نمايندگي را وارد نمایید." nz-input formControlName="MablaghNamayandegi" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> ارزش كارشناسي </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="number" placeholder="ارزش كارشناسي را وارد نمایید." nz-input formControlName="ArzesheKarshenasi" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> اعلام نهايي به وزارت يا داريي </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="number" placeholder="اعلام نهايي به وزارت يا داريي را وارد نمایید." nz-input formControlName="ElamBeDarayi" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> نحوه فروش </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>

                <nz-select nzMode="default"
                           placeholder="نحوه فروش را وارد نمایید."
                           formControlName="NahveForoosh" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.sellMethods" [nzValue]="i.Id" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> شماره واگذاري </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="شماره واگذاري را وارد نمایید." nz-input formControlName="ShomareVagozari" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> تاريخ واگذاري </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <persian-date-time-picker formControlName="TarikhVagozari" placeholder="تاريخ واگذاري را وارد نمایید." ></persian-date-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> شماره نمايندگي </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <input type="text" placeholder="شماره نمايندگي را وارد نمایید." nz-input formControlName="ShomareNamayandegi" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> تاريخ نمايندگي </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <persian-date-time-picker formControlName="TarikhNamayandegi"  placeholder="تاريخ نمايندگي را وارد نمایید."></persian-date-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> وضعيت واحد </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>

                <nz-select nzMode="default"
                           placeholder="وضعيت واحد را وارد نمایید."
                           formControlName="VaziateVahed" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let i of listCache.VaziateVahed" [nzValue]="i.Value" [nzLabel]="i.Title">    </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> آدرس </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <textarea nz-input formControlName="Address" placeholder="آدرس را وارد نمایید." [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3"> توضيحات </nz-form-label>
          <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
            <nz-form-item>
              <nz-form-control>
                <textarea nz-input formControlName="Description" placeholder="توضيحات را وارد نمایید." [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>










        </div>

      </form>
    </nz-tab>
    <nz-tab nzTitle="مستندات" *ngIf="item.controls['Id'].value>0">
      <form [nzLayout]="'horizontal'" nz-form [formGroup]="item">
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'Gharardad';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات قراردادها
                {{item.controls['Gharardad'].value?.length}}
              </button>

              <app-drag-and-drop-list formControlName="Gharardad"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'HeyatNamayandegi';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات هیت نمایندگی
              </button>

              <app-drag-and-drop-list formControlName="HeyatNamayandegi"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'Estelam';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات استعلام
              </button>

              <app-drag-and-drop-list formControlName="Estelam"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'Karshenasi';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات کارشناسی
              </button>

              <app-drag-and-drop-list formControlName="Karshenasi"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'EjareName';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات اجاره نامه
              </button>

              <app-drag-and-drop-list formControlName="EjareName"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'MadrakGhabli';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات مدارک متقاضی قبلی
              </button>

              <app-drag-and-drop-list formControlName="MadrakGhabli"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'MadrakFeli';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات مدارک متقاضی فعلی
              </button>

              <app-drag-and-drop-list formControlName="MadrakFeli"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'Korooki';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات کروکی
              </button>

              <app-drag-and-drop-list formControlName="Korooki"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'Sanad';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن مستندات سند
              </button>

              <app-drag-and-drop-list formControlName="Sanad"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

            <div class="glass">
              <button nz-button (click)="docId = item.controls['Id'].value; docU = 'SayerMostanadat';imageModal = true;">
                <i nz-icon
                   [innerHtml]="icons['plus-thick']"></i>
                اضافه کردن سایر مستندات
              </button>

              <app-drag-and-drop-list formControlName="SayerMostanadat"
                                      [header]="header"
                                      [addEnabled]="false"
                                      [body]="body">
                <ng-template #header>
                  <th>ردیف</th>
                  <th> نام </th>
                  <th>فایل</th>
                </ng-template>
                <ng-template #body let-subitem="item" let-index="index">
                  <td>{{index + 1}}</td>
                  <td style="font-weight:bold">
                    <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="subitem.Title" />
                  </td>
                  <td>
                    <button nz-button (click)="openLink(subitem.Url)">
                      <i nz-icon
                         [innerHtml]="icons['download']"></i>
                    </button>
                  </td>
                </ng-template>
              </app-drag-and-drop-list>
            </div>
          </div>
        </div>

      </form>
    </nz-tab>
  </nz-tabset>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>







</ng-template>


<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Create_}}</td>
  <td>{{item.ShomareVahed}}</td>
  <td>{{item.VaziateForoosh_}}</td>
  <td>{{item.CityTitle}}</td>
  <td>{{item.Code}}</td>
  <td>
    {{item.NameBahreBardar}} {{item.FamilyBahreBardar}}
  </td>
  <td>{{item.DastgaheMoarrefiKonnandeTitle}}</td>
  <td>{{item.VaziateVahed_}}</td>
  <td>{{item.Address}}</td>
</ng-template>




<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

<ng-container *ngIf="mainTemplate">

  <nz-modal [(nzVisible)]="imageModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن تصویر" (nzOnCancel)="imageModal = false">
    <ng-container *nzModalContent>
      <app-file-uploader-card [key]="dataManager.key" [Id]="docId" (onOk)="addDoc($event)"></app-file-uploader-card>
    </ng-container>
  </nz-modal>
</ng-container>
